<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
      <appSettings>
        <!-- Redis引擎-->
        <add key="CalRedisConnString" value="127.0.0.1:6379,password=,ConnectTimeout=10000"/>
        <add key="redis_default_dbnum" value="6"/>
        <add key="InstagramPhotos" value="Data Source=115.159.40.235;Initial Catalog=Instagram.Media;User ID=ins;Password=q1w2e3r4;Pooling=true;" />
      </appSettings>
</configuration>