<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <!--排序方式：0正序、1倒序-->
    <add key="Sort" value="1"/>
    <!-- Redis引擎-->
    <add key="CalRedisConnString" value="127.0.0.1:6379,password=,ConnectTimeout=10000"/>
    <add key="redis_default_dbnum" value="6"/>
    <add key="InstagramPhotos" value="Data Source=115.159.40.235;Initial Catalog=Instagram.Media;User ID=ins;Password=q1w2e3r4;Pooling=true;" />
    <add key="Domain" value="http://1024.2048xd.pw/pw/"/>
    <add key="ListPageUrl_WM" value="/thread.php?fid=14" />
    <add key="ListPageUrl_ZP" value="/thread.php?fid=15" />
    <add key="ListPageUrl_LC" value="/thread.php?fid=16" />
    <add key="SaveDir" value="D:\\resource\\pictures_from_zc97downinfo"/>
    <add key="DefaultConnectionLimit" value="512"/>
  </appSettings>
</configuration>